<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
	<bean id="dictionaryService"
		class="com.github.knives.osgi.blueprint.service.dictionary.impl.BlueprintDictionaryService"
		init-method="startUp">
	</bean>


	<service ref="dictionaryService" auto-export="interfaces">
        <service-properties>
            <entry key="source">
                <value type="java.lang.String">blueprint</value>
            </entry>
        </service-properties>
    </service>
</blueprint>